@font-face {
  font-family: 'zapete-font';
  src: url('../font/zapete-font.eot?73593961');
  src: url('../font/zapete-font.eot?73593961#iefix') format('embedded-opentype'),
       url('../font/zapete-font.woff2?73593961') format('woff2'),
       url('../font/zapete-font.woff?73593961') format('woff'),
       url('../font/zapete-font.ttf?73593961') format('truetype'),
       url('../font/zapete-font.svg?73593961#zapete-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zapete-font';
    src: url('../font/zapete-font.svg?73593961#zapete-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zapete-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-right:before { content: '\e800'; } /* '' */
.icon-step-forward:before { content: '\e801'; } /* '' */
.icon-forward:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-fast-forward:before { content: '\e805'; } /* '' */
.icon-backward:before { content: '\e806'; } /* '' */
.icon-fast-backward:before { content: '\e807'; } /* '' */
.icon-step-backward:before { content: '\e808'; } /* '' */
.icon-flash-outline:before { content: '\e809'; } /* '' */
.icon-flashlight:before { content: '\e80a'; } /* '' */
.icon-resize-full:before { content: '\e80b'; } /* '' */
.icon-home-outline:before { content: '\e80c'; } /* '' */
.icon-link:before { content: '\e830'; } /* '' */
.icon-refresh:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-loop:before { content: '\e836'; } /* '' */
.icon-minus:before { content: '\e837'; } /* '' */
.icon-plus:before { content: '\e838'; } /* '' */
.icon-volume-off:before { content: '\e83c'; } /* '' */
.icon-play-pause:before { content: '\e86d'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
