
.icon-forward:before { content: '\e802'; } /* '' */
.icon-backward:before { content: '\e803'; } /* '' */
.icon-fast-backward:before { content: '\e804'; } /* '' */
.icon-fast-forward:before { content: '\e805'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-step-backward:before { content: '\e807'; } /* '' */
.icon-step-forward:before { content: '\e808'; } /* '' */
.icon-flash-outline:before { content: '\e809'; } /* '' */
.icon-flashlight:before { content: '\e80a'; } /* '' */
.icon-resize-full:before { content: '\e80b'; } /* '' */
.icon-home-outline:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-play-pause:before { content: '\e812'; } /* '' */
.icon-volume-off:before { content: '\e813'; } /* '' */
.icon-volume-down:before { content: '\e814'; } /* '' */
.icon-volume-up:before { content: '\e815'; } /* '' */
.icon-up:before { content: '\e816'; } /* '' */
.icon-down:before { content: '\e817'; } /* '' */
.icon-page-down:before { content: '\e818'; } /* '' */
.icon-page-up:before { content: '\e819'; } /* '' */
.icon-end:before { content: '\e821'; } /* '' */
.icon-link:before { content: '\e830'; } /* '' */
.icon-refresh:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-loop:before { content: '\e836'; } /* '' */
.icon-minus:before { content: '\e837'; } /* '' */
.icon-plus:before { content: '\e838'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-home:before { content: '\f148'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
