
.icon-right:before { content: '\e800'; } /* '' */
.icon-step-forward:before { content: '\e801'; } /* '' */
.icon-forward:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-fast-forward:before { content: '\e805'; } /* '' */
.icon-backward:before { content: '\e806'; } /* '' */
.icon-fast-backward:before { content: '\e807'; } /* '' */
.icon-step-backward:before { content: '\e808'; } /* '' */
.icon-flash-outline:before { content: '\e809'; } /* '' */
.icon-flashlight:before { content: '\e80a'; } /* '' */
.icon-resize-full:before { content: '\e80b'; } /* '' */
.icon-home-outline:before { content: '\e80c'; } /* '' */
.icon-link:before { content: '\e830'; } /* '' */
.icon-refresh:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-loop:before { content: '\e836'; } /* '' */
.icon-minus:before { content: '\e837'; } /* '' */
.icon-plus:before { content: '\e838'; } /* '' */
.icon-volume-off:before { content: '\e83c'; } /* '' */
.icon-play-pause:before { content: '\e86d'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
