[data-page]{
    position:absolute; /* or absolute if the content exceeds the height of the page */
    width: 100%;
    min-height: 100vh;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: opacity 0.2s ease-in, opacity 0.1s ease-in;
    z-index: 10;
}

[data-page].active{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

.controls button {
  margin-right: 1em;
  margin-bottom: 1em;
}

#serverAddress, #serverMessages {
  min-width: 43vw;
}

#serverControl {
  margin-bottom: 1em;
}

.serverMessages {
    display: flex;
}

.serverMessages input {
    flex-grow: 1;
}
