
.icon-camera:before { content: '\e800'; } /* '' */
.icon-cw-circle:before { content: '\e801'; } /* '' */
.icon-send:before { content: '\e802'; } /* '' */
.icon-zero:before { content: '\e803'; } /* '' */
.icon-one:before { content: '\e804'; } /* '' */
.icon-up:before { content: '\e805'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-left:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e808'; } /* '' */
.icon-flash-outline:before { content: '\e809'; } /* '' */
.icon-flashlight:before { content: '\e80a'; } /* '' */
.icon-resize-full:before { content: '\e80b'; } /* '' */
.icon-home-outline:before { content: '\e80c'; } /* '' */
.icon-left-circle:before { content: '\e80d'; } /* '' */
.icon-two:before { content: '\e80e'; } /* '' */
.icon-three:before { content: '\e80f'; } /* '' */
.icon-four:before { content: '\e810'; } /* '' */
.icon-five:before { content: '\e811'; } /* '' */
.icon-six:before { content: '\e812'; } /* '' */
.icon-seven:before { content: '\e813'; } /* '' */
.icon-eight:before { content: '\e814'; } /* '' */
.icon-nine:before { content: '\e815'; } /* '' */
.icon-A:before { content: '\e816'; } /* '' */
.icon-B:before { content: '\e817'; } /* '' */
.icon-C:before { content: '\e818'; } /* '' */
.icon-D:before { content: '\e819'; } /* '' */
.icon-E:before { content: '\e81a'; } /* '' */
.icon-F:before { content: '\e81b'; } /* '' */
.icon-G:before { content: '\e81c'; } /* '' */
.icon-H:before { content: '\e81d'; } /* '' */
.icon-I:before { content: '\e81e'; } /* '' */
.icon-J:before { content: '\e81f'; } /* '' */
.icon-K:before { content: '\e820'; } /* '' */
.icon-L:before { content: '\e821'; } /* '' */
.icon-M:before { content: '\e822'; } /* '' */
.icon-N:before { content: '\e823'; } /* '' */
.icon-O:before { content: '\e824'; } /* '' */
.icon-P:before { content: '\e825'; } /* '' */
.icon-Q:before { content: '\e826'; } /* '' */
.icon-R:before { content: '\e827'; } /* '' */
.icon-S:before { content: '\e828'; } /* '' */
.icon-T:before { content: '\e829'; } /* '' */
.icon-U:before { content: '\e82a'; } /* '' */
.icon-V:before { content: '\e82b'; } /* '' */
.icon-W:before { content: '\e82c'; } /* '' */
.icon-X:before { content: '\e82d'; } /* '' */
.icon-Y:before { content: '\e82e'; } /* '' */
.icon-Z:before { content: '\e82f'; } /* '' */
.icon-link:before { content: '\e830'; } /* '' */
.icon-refresh:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-minus-circled:before { content: '\e833'; } /* '' */
.icon-note-beamed:before { content: '\e834'; } /* '' */
.icon-ok-circle:before { content: '\e835'; } /* '' */
.icon-loop:before { content: '\e836'; } /* '' */
.icon-minus:before { content: '\e837'; } /* '' */
.icon-plus:before { content: '\e838'; } /* '' */
.icon-star:before { content: '\e839'; } /* '' */
.icon-updown-circle:before { content: '\e83a'; } /* '' */
.icon-video:before { content: '\e83b'; } /* '' */
.icon-volume-off:before { content: '\e83c'; } /* '' */
.icon-play-pause-icon:before { content: '\e86c'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-to-end:before { content: '\f010'; } /* '' */
.icon-to-start:before { content: '\f011'; } /* '' */
.icon-fast-forward:before { content: '\f012'; } /* '' */
.icon-fast-backward:before { content: '\f013'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */
