[Unit]
Description=Zapete Remote Control Server
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=/usr/lib/zapete
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target