[Desktop Entry]
Name=Zapete
Comment=Remote control for any computer in your local network
Exec=/usr/bin/zapete
Icon=/usr/lib/zapete/src/img/zapete-logo.png
Terminal=false
Type=Application
Categories=Utility;Network;
