@font-face {
  font-family: 'zapete-font';
  src: url('../font/zapete-font.eot?23654907');
  src: url('../font/zapete-font.eot?23654907#iefix') format('embedded-opentype'),
       url('../font/zapete-font.woff2?23654907') format('woff2'),
       url('../font/zapete-font.woff?23654907') format('woff'),
       url('../font/zapete-font.ttf?23654907') format('truetype'),
       url('../font/zapete-font.svg?23654907#zapete-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zapete-font';
    src: url('../font/zapete-font.svg?23654907#zapete-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zapete-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\e700'; } /* '' */
.icon-up:before { content: '\e701'; } /* '' */
.icon-down:before { content: '\e702'; } /* '' */
.icon-right:before { content: '\e703'; } /* '' */
.icon-home:before { content: '\e704'; } /* '' */
.icon-end:before { content: '\e705'; } /* '' */
.icon-plus:before { content: '\e706'; } /* '' */
.icon-minus:before { content: '\e707'; } /* '' */
.icon-play:before { content: '\e708'; } /* '' */
.icon-pause:before { content: '\e709'; } /* '' */
.icon-play-pause:before { content: '\e710'; } /* '' */
.icon-youtube:before { content: '\e711'; } /* '' */
.icon-fast-backward:before { content: '\e712'; } /* '' */
.icon-fast-forward:before { content: '\e713'; } /* '' */
.icon-step-backward:before { content: '\e714'; } /* '' */
.icon-step-forward:before { content: '\e715'; } /* '' */
.icon-backward:before { content: '\e716'; } /* '' */
.icon-forward:before { content: '\e717'; } /* '' */
.icon-fullscreen:before { content: '\e718'; } /* '' */
.icon-refresh:before { content: '\e719'; } /* '' */
.icon-volume-off:before { content: '\e720'; } /* '' */
.icon-volume-down:before { content: '\e721'; } /* '' */
.icon-volume-up:before { content: '\e722'; } /* '' */
.icon-mic-off:before { content: '\e723'; } /* '' */
.icon-loop:before { content: '\e724'; } /* '' */
.icon-home-outline:before { content: '\e725'; } /* '' */
.icon-flash-outline:before { content: '\e726'; } /* '' */
.icon-flashlight:before { content: '\e727'; } /* '' */
.icon-plug:before { content: '\e728'; } /* '' */
.icon-bell:before { content: '\e729'; } /* '' */
.icon-link:before { content: '\e730'; } /* '' */
.icon-unlink:before { content: '\e731'; } /* '' */
.icon-mail:before { content: '\e732'; } /* '' */
.icon-page-down:before { content: '\e733'; } /* '' */
.icon-page-up:before { content: '\e734'; } /* '' */
