
.icon-left:before { content: '\e700'; } /* '' */
.icon-up:before { content: '\e701'; } /* '' */
.icon-down:before { content: '\e702'; } /* '' */
.icon-right:before { content: '\e703'; } /* '' */
.icon-home:before { content: '\e704'; } /* '' */
.icon-end:before { content: '\e705'; } /* '' */
.icon-plus:before { content: '\e706'; } /* '' */
.icon-minus:before { content: '\e707'; } /* '' */
.icon-play:before { content: '\e708'; } /* '' */
.icon-pause:before { content: '\e709'; } /* '' */
.icon-play-pause:before { content: '\e710'; } /* '' */
.icon-youtube:before { content: '\e711'; } /* '' */
.icon-fast-backward:before { content: '\e712'; } /* '' */
.icon-fast-forward:before { content: '\e713'; } /* '' */
.icon-step-backward:before { content: '\e714'; } /* '' */
.icon-step-forward:before { content: '\e715'; } /* '' */
.icon-backward:before { content: '\e716'; } /* '' */
.icon-forward:before { content: '\e717'; } /* '' */
.icon-fullscreen:before { content: '\e718'; } /* '' */
.icon-refresh:before { content: '\e719'; } /* '' */
.icon-volume-off:before { content: '\e720'; } /* '' */
.icon-volume-down:before { content: '\e721'; } /* '' */
.icon-volume-up:before { content: '\e722'; } /* '' */
.icon-mic-off:before { content: '\e723'; } /* '' */
.icon-loop:before { content: '\e724'; } /* '' */
.icon-home-outline:before { content: '\e725'; } /* '' */
.icon-flash-outline:before { content: '\e726'; } /* '' */
.icon-flashlight:before { content: '\e727'; } /* '' */
.icon-plug:before { content: '\e728'; } /* '' */
.icon-bell:before { content: '\e729'; } /* '' */
.icon-link:before { content: '\e730'; } /* '' */
.icon-unlink:before { content: '\e731'; } /* '' */
.icon-mail:before { content: '\e732'; } /* '' */
.icon-page-down:before { content: '\e733'; } /* '' */
.icon-page-up:before { content: '\e734'; } /* '' */
